# 1.3 | Decision making in Coding

Up to now, the programs we have seen execute all the lines of the code from beginning to the end. However, we often need to run some lines but not others. Computers can execute only certain parts of a program using an `if` statement.

## 1.3.1 Decision Statements

The `if` statements ask your computer whether something is `True` of `False` (these being the two "Boolean operators"). The basic comparison and logical operators in Python are written as follows:


| operation            | syntax   |
| :-----------------   | :------- |
| __greater__          | `>`  |
| __less__             | `<`  |
| __equal__            | `==`  |
| __not equal__        | `!=`  |
| __greater and equal__| `>=`  |
| __less and equal__| `<=`  |
| __and__              | `and`  |
| __or__               | `or`  |


Comparison operators perform comparisons such as greater than, less than, not equal to, etc. Logical operators perform `and`, `or`, not (`!`) operators. The logical `or` operator returns True if either of the operands is true. The logical `and` operator, on the other hand, returns True if all of the operands are true.

Note that checking for equality in Python uses `==`. Using a single `=` is reserved for assigning variables. We demonstrate the difference below:

```python
T_sun = 5778.0 # here we assign the temperature of the Sun to 5778.0

T_sun == 5778.0 # here we check if the temperature of the Sun is 5778.0

```
Let's perform some conditional operators below:

In [1]:
T_sun = 5778.0
print(T_sun)

5778.0

In [2]:
print(T_sun == 5778.0)

True

In [3]:
print(T_sun == 6778.0)

False

In [4]:
print(T_sun != 6778.0)

True

In [5]:
print(T_sun < 6778.0)

True

In [6]:
print(T_sun >= 5778.0)

True

Now, try out the following examples with logical operators:

```python
print(T_sun > 4778.0 and T_sun < 6778.0)
print(T_sun > 4778.0 or T_sun < 6778.0)
print(T_sun == 4778.0 and T_sun < 6778.0)
print(T_sun != 4778.0 and T_sun <= 6778.0)
print(T_sun == 6778.0 or T_sun < 5778.0)
print(T_sun == 6778.0 or T_sun <= 5778.0)
```

In [7]:
print(T_sun > 4778.0 and T_sun < 6778.0)
print(T_sun > 4778.0 or T_sun < 6778.0)
print(T_sun == 4778.0 and T_sun < 6778.0)
print(T_sun != 4778.0 and T_sun <= 6778.0)
print(T_sun == 6778.0 or T_sun < 5778.0)
print(T_sun == 6778.0 or T_sun <= 5778.0)

True
True
False
True
False
True

### 1.3.1.1 Components of an if statement

An `if` statement typically has two parts:
- the condition (what is being checked each time), and
- the action (what is being performed if the condition is met).

In general, an `if` statement looks something like this:

```python
if <condition>:
    do something   
```

There are two important rules while using an `if` statement in Python. First, you need to put a colon (`:`) after the condition. Second, each action after the `if` statement is written on an indented line similar to `for` loops. The generally accepted Python indentation is four spaces.

In the next example, the computer checks if the variable `x` is larger than 1. If the condition is met, it prints out the value of `x`.

In [11]:
x = 0

if x > 1:                             # The condition is true
    print('x is larger than 1')       # To perform actions, make sure each action is INDENTED
    print('x =', x)                   # So x will be printed

What happens if `x` is smaller than 1? In the cell below, define x to be a value less than 1, reproduce condition above, and execute your new code.

In [10]:
##  try out the above example, changing the value of x a few times.
x = 6

Notice that we did not get any output when x < 1 because we did not tell the computer what to do if the condition is not met. In this case, we need to use an `else` statement:

```python
x = 5

if x > 1:                             # The condition is true
    print('x is larger than 1')      
    print('x =', x)  
else:                                 # The condition is not true
    print('x is smaller than 1')
    print('x =', x)
```

In [12]:
x = 5

if x > 1:                             # The condition is true
    print('x is larger than 1')
    print('x =', x)
else:                                 # The condition is not true
    print('x is smaller than 1')
    print('x =', x)

x is larger than 1
x = 5

You can have more than one condition in a single `if` statement using logical operators. Below we give an example.

In [13]:
x = 5

if x > 1 and x < 10:
    print('x is between 1 and 10')

if x > 1 or x < 10:
    print('x is greater than 1 or less than 10')

x is between 1 and 10
x is greater than 1 or less than 10

If the first statement is not met and we want to test for another condition, we can use an `else if` or `elif` statement.

```python
x = 0.1

if x > 10:
    print('x is greater than 10')
    
elif x > 5:
    print('x is greater than 5')
    
elif x > 1:
    print('x is greater than 1')
  
else:
    print('x is less than 1')
```

In [14]:
x = 20

if x > 10:
    print('x is greater than 10')

elif x > 5:
    print('x is greater than 5')

elif x > 1:
    print('x is greater than 1')

else:
    print('x is less than 1')

x is greater than 10

### 1.3.1.2 For loops & conditionals: Example
It is often useful to have conditions embedded (or nested) within for loops. This is where indentation
is key to making sure your code works the way you want it to!<br>

In the below example, we have a list of both positive and negative numbers called `numbers`. We want to store them in separate lists called `negative_numbers` and `positive_numbers`. To accomplish this, we first loop over the elements of the numbers list and check if a number is positive or negative using an if statement. If the number is negative, we append it to the `negative_numbers` list, and if the number is positive, we append it to the `positive_numbers` list. Note that we need to initialize these empty lists before the for loop.

In [15]:
numbers = [-1, 4, 8, -2, 8, 91, -94]

# Initialize new lists
negative_numbers = []
positive_numbers = []

# Loop over the numbers list
for i in numbers:
    if i < 0:
        negative_numbers.append(i)
    elif i > 0:
        positive_numbers.append(i)

print('negative numbers list:', negative_numbers)
print('positive numbers list:', positive_numbers)

negative numbers list: [-1, -2, -94]
positive numbers list: [4, 8, 8, 91]

### Your turn: Even or odd

In the below cell, try writing a for loop that goes through the `numbers` list. This time, instead of checking if the elements of the number list is positive or negative, identify the even numbers, and store them in a new list called `even_numbers`. Hint: You can use the `mod` (modulo) operator `%` to test if a given number is even or not. The modulo operator returns the remainder when you divide one number by another.

In [17]:
# your code here

numbers = [3, 4, 14, 2, 24, 88, 93, 112]
even_numbers = []

for i in numbers:
    if i % 2 == 0:
        even_numbers.append(i)

print(even_numbers)

[4, 14, 2, 24, 88, 112]

### Temperature Converter

__Problem__: You are given the surface temperatures for ten stars, which are all in Celsius. Since Kelvin is the standard unit used in astronomy, you want to convert all the temperatures into Kelvin.

__Task__: Loop over the temperature list and convert each temperature to Kelvin using the following equation:

 $$K = C + 273.15 $$

Store the temperatures in units of Kelvin in a new list called `T_kelvin` and print it in the below cell.

In [18]:
## Your code here!
## You are given surface temperatures in celsius:
T_celc = [5500, 6000, 6532, 4234, 8352, 10000, 12000, 14532, 8325, 7737]
T_kelvin = []

## Loop over T_celc list:

for t in T_celc:
    T_kelvin.append(t + 273.15)

print(T_kelvin)

[5773.15, 6273.15, 6805.15, 4507.15, 8625.15, 10273.15, 12273.15, 14805.15, 8598.15, 8010.15]

Now, store the temperatures larger than the Sun's temperature (T_sun = 5778.0 K) in a new list called ```T_larger_sun``` below:

In [19]:
T_larger_sun = []

for t in T_kelvin:
    if t > 5778.0:
        T_larger_sun.append(t)

print(T_larger_sun)

[6273.15, 6805.15, 8625.15, 10273.15, 12273.15, 14805.15, 8598.15, 8010.15]

## Takeaways

* Conditional statements, such as if statements, allow you to perform different operations depending on whether certain conditions are met. <br>
* By combining loops and conditionals, you can iterate over a sequence and perform the specified operations only when certain conditions are met, rather than on every pass over the loop. <br>